<<<<<<< HEAD
<center><h1>Hello <%= user.first_name %></h1>
<h2>If you want to see the other members of the club ?</h2>
<%= link_to 'met the club', club_path, class: "btn btn-lg btn-primary" %></center>
>>>>>>> master
